.frame {
  width: 100%;
  height: 100%;
}

.frame__cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.frame__card {
  margin-bottom: 1.5rem;

  &--2x3 {
    flex: 0 0 33.33333%;
    height: 35vh;
    max-width: 33.33333%;
  }
}