.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  font-size: 2rem;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.menu__link {
  color: #fff;
  text-decoration: none;

  &:hover {
    color:#f00;
  }
}